@import "../../reset.css";
@import "../../globals.css";

body > main {
  margin: 2rem auto;
  max-width: 960px;

  > section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin: 0 2rem;
  }
}

h1 {
  width: 100%;
  font-size: 1.5rem;
  text-align: center;
}

h2 {
  font-size: 1.25rem;
}

a {
  width: 100%;
  text-align: center;
  text-decoration: none;
}

article {
  display: grid;
  align-items: flex-start;
  border: 1px solid var(--color-shadow);
  width: 18rem;

  > main,
  > header,
  > footer {
    padding: 1rem;
  }

  > footer {
    align-self: flex-end;
  }

  time,
  label {
    margin-right: 1rem;
    border-radius: 0.5rem;
    background-color: var(--color-shadow);
    padding: 0.25rem;
    font-size: 0.75rem;
  }
}
