:root {
  --color-primary: #7c2da4;
  --color-text: #445566;
  --color-shadow: #e0e0e0;
  --color-background: #ffffff;
}

body {
  margin: 0.5rem;
}

a {
  color: var(--color-primary);
}

main {
  display: flex;
  margin: 0 auto;

  > section {
    margin: 2rem auto;
    text-align: center;
  }
}

input,
select {
  appearance: none;
}
