.jokes {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  border-radius: 1rem;
  background-color: rgb(53, 29, 171);
  padding: 2rem;
  width: clamp(200px, 80vw, 600px);
  color: white;

  button {
    transition: filter 0.2s ease-in-out;
    cursor: pointer;
    margin: 1rem 0.5rem;
    border: none;
    border-radius: 1rem;
    background-color: #d0d0d0;
    padding: 0.5rem;
    min-width: 2rem;

    &:hover {
      filter: brightness(1.2);
    }

    &:disabled {
      cursor: not-allowed;
      background-color: #a0a0a0;
    }
  }

  ul {
    text-align: left;
  }
}
