html,
body {
  margin: 0;
  padding: 0;
}

button {
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: baseline;
  appearance: none;
  margin: 0;
  border: 0;
  background: none;
  padding: 0;
  color: inherit;
  font-weight: inherit;
  font-size: 100%;
  font-family: inherit;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0 auto;
  background: #f5f5f5;
  min-width: 230px;
  max-width: 550px;
  color: #4d4d4d;
  font:
    14px "Helvetica Neue",
    Helvetica,
    Arial,
    sans-serif;
  font-weight: 300;
  line-height: 1.4em;
}

:focus {
  outline: 0;
}

.hidden {
  display: none;
}

.todoapp {
  position: relative;
  margin: 130px 0 40px 0;
  box-shadow:
    0 2px 4px 0 rgba(0, 0, 0, 0.2),
    0 25px 50px 0 rgba(0, 0, 0, 0.1);
  background: #fff;
}

.todoapp input::-webkit-input-placeholder {
  color: #e6e6e6;
  font-style: italic;
  font-weight: 300;
}

.todoapp input::-moz-placeholder {
  color: #e6e6e6;
  font-style: italic;
  font-weight: 300;
}

.todoapp input::input-placeholder {
  color: #e6e6e6;
  font-style: italic;
  font-weight: 300;
}

.todoapp h1 {
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  position: absolute;
  top: -155px;
  width: 100%;
  color: rgba(175, 47, 47, 0.15);
  font-weight: 100;
  font-size: 100px;
  text-align: center;
  text-rendering: optimizeLegibility;
}

.new-todo,
.edit {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  box-sizing: border-box;
  margin: 0;
  box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
  border: 0;
  border: 1px solid #999;
  padding: 6px;
  width: 100%;
  color: inherit;
  font-weight: inherit;
  font-size: 24px;
  line-height: 1.4em;
  font-family: inherit;
}

.new-todo {
  box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0.03);
  border: none;
  background: rgba(0, 0, 0, 0.003);
  padding: 16px 16px 16px 60px;
}

.main {
  position: relative;
  z-index: 2;
  border-top: 1px solid #e6e6e6;
}

.todo-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.todo-list li {
  position: relative;
  border-bottom: 1px solid #ededed;
  font-size: 24px;
}

.todo-list li:last-child {
  border-bottom: none;
}

.todo-list li .toggle {
  -webkit-appearance: none;
  position: absolute;
  top: 0;
  bottom: 0;
  appearance: none;
  cursor: pointer;
  margin: auto 0;
  border: none; /* Mobile Safari */
  width: 40px;
  /* auto, since non-WebKit browsers doesn't support input styling */
  height: auto;
  text-align: center;
}

.todo-list li .toggle {
  opacity: 0;
}

.todo-list li .toggle + label {
  background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23ededed%22%20stroke-width%3D%223%22/%3E%3C/svg%3E");
  background-position: center left;
  background-repeat: no-repeat;
}

.todo-list li .toggle.checked + label {
  background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23bddad5%22%20stroke-width%3D%223%22/%3E%3Cpath%20fill%3D%22%235dc2af%22%20d%3D%22M72%2025L42%2071%2027%2056l-4%204%2020%2020%2034-52z%22/%3E%3C/svg%3E");
}

.todo-list li label {
  display: block;
  transition: color 0.4s;
  padding: 15px 15px 15px 60px;
  line-height: 1.2;
  word-break: break-all;
}

.todo-list li.completed label {
  color: #d9d9d9;
  text-decoration: line-through;
}

.todo-list li .destroy {
  display: block;
  position: absolute;
  top: 0;
  right: 10px;
  bottom: 0;
  transition: transform 0.5s ease;
  cursor: pointer;
  margin: auto 0;
  margin-bottom: 11px;
  width: 40px;
  height: 40px;
  color: #af5b5e;
  font-size: 30px;

  &:hover {
    transform: scale(1.2) rotate(5deg);
  }
}

.footer {
  border-top: 1px solid #e6e6e6;
  padding: 10px 15px;
  height: 20px;
  color: #777;
  text-align: center;
}

.footer:before {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow:
    0 1px 1px rgba(0, 0, 0, 0.2),
    0 8px 0 -3px #f6f6f6,
    0 9px 1px -3px rgba(0, 0, 0, 0.2),
    0 16px 0 -6px #f6f6f6,
    0 17px 2px -6px rgba(0, 0, 0, 0.2);
  height: 50px;
  overflow: hidden;
  content: "";
}

.filters {
  position: absolute;
  right: 0;
  left: 0;
  margin: 0;
  padding: 0;
  list-style: none;
}

.filters li {
  display: inline;
}

.filters li a {
  margin: 3px;
  border: 1px solid transparent;
  border-radius: 3px;
  padding: 3px 7px;
  color: inherit;
  text-decoration: none;
}

.filters li a:hover {
  border-color: rgba(175, 47, 47, 0.1);
}

.filters li a.selected {
  border-color: rgba(175, 47, 47, 0.2);
}

/*
	Hack to remove background from Mobile Safari.
	Can't use it globally since it destroys checkboxes in Firefox
*/
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .toggle-all,
  .todo-list li .toggle {
    background: none;
  }

  .todo-list li .toggle {
    height: 40px;
  }
}

@media (max-width: 430px) {
  .footer {
    height: 50px;
  }

  .filters {
    bottom: 10px;
  }
}
