@import "../reset.css";
@import "../globals.css";

body > main {
  margin: 3rem auto;
  max-width: 960px;

  h1 {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    text-align: center;
  }

  a {
    font-weight: bold;
  }

  input {
    margin: 1rem 25%;
    padding: 0.5rem;
    width: 50%;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    list-style-type: none;

    li {
      border: 1px solid #ccc;
      border-radius: 10px;
      background-color: #eee;
      padding: 1rem;
      width: calc(50% - 2rem);
      min-width: 320px;
      text-align: center;
    }
  }
}
