@import "../reset.css";
@import "../globals.css";

main {
  display: flex;
  align-items: center;
  height: 100vh;

  > section {
    margin: auto;
    max-width: 960px;
    text-align: center;
  }
}

h1,
p,
a {
  margin-bottom: 1rem;
}
