body {
  font-size: 18px;
  font-family: Arial, sans-serif;
}

@media only screen and (max-width: 600px) {
  body {
    font-size: 10px;
  }
}

.App {
  padding: 2rem;
  text-align: center;
}

.lottery {
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  background-color: #fff;
  padding: 1rem;
  max-width: 350px;
}

.lottery h1 {
  color: #333;
}

.number-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.number {
  display: flex;
  justify-content: center;
  align-items: center;
  transition:
    background-color 0.3s,
    color 0.3s;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
}

.number.selected {
  background-color: #007bff;
  color: white;
}

.number:hover {
  background-color: #39623b;
  color: white;
}

.error {
  margin-top: 1rem;
  color: red;
}

.selected-numbers {
  margin-top: 2rem;
}

.selected-numbers h2 {
  color: #333;
}

.selected-numbers ul {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 0;
  list-style-type: none;
}

.selected-numbers li {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #007bff;
  width: 2rem;
  height: 2rem;
  color: white;
}
